* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #000000;
}

h1 {
    margin: 20px auto;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container ul {
    width: 100%;
    max-width: 600px;
}

.container ul li {
    height: 40px;
    line-height: 40px;
    margin-bottom: 4px;
    padding: 0 6px;
    display: flex;
    justify-content: space-between;
    background-color: #d2d2d2;
}

.container ul li:first-child {
    background-color: #ffffff;
    padding: 0;
}

.container button {
    width: 40px;
    height: 28px;
    padding: 4px;
    cursor: pointer;
}

.new, .edit {
    width: 100%;
    max-width: 600px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete {
    display: inline-block;
}

form input {
    width: 90%;
    height: 100%;
}